extend layout 

block content 
    .container 
        .row 
            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px')
                    i.material-icons.right cloud
                    | button
            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px')
                    i.material-icons.right cloud
                    | button
