extend layout 

block content 
    .container 
        .row 
            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px;border-radius:64px')
                   
                    | Add Quiz
            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px;border-radius:64px')
                   
                    | Delete Quiz

            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px;border-radius:64px')
                   
                    | Update Quiz

            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px;border-radius:64px')
                   
                    | Delete Quiz

            .col.s6
                a.waves-effect.waves-light.btn-large(style='margin-top:20px;border-radius:64px')
                   
                    | Delete Quiz
