header
    .navbar-fixed
        nav.white
            .nav-wrapper
                .container
                    a.grey-text.text-darken-4.sidenav-trigger.hide-on-large-only(href="#", data-target="nav-mobile", onclick="sidenavinstance.open()")
                        i.material-icons.button-collapse menu
                        
    ul#nav-mobile.sidenav
        li
            .user-view
                .background.black
                    
                a(href='#user')
                    img.circle(src='images/puppy.jpg')
                a(href='#name')
                    span.white-text.name John Doe
                a(href='#email')
                    span.white-text.email jdandturk@gmail.com

        
        li
            a(href="/bookroom.html") 
                i.material-icons(style='color:#42a5f5') date_range
                | View Quiz
        li
            a(href="/books.html")
                i.material-icons(style='color:#42a5f5') money
                | Results
        li
            a(href="/shop") 
                i.material-icons(style='color:#42a5f5') person  
                | Profile
       
        li  
            a(href="/")
                i.material-icons(style='color:#42a5f5') lock
                | Logout
            
