header
    .navbar-fixed
        nav.white
            .nav-wrapper
                .container
                    a.grey-text.text-darken-4.sidenav-trigger.hide-on-large-only(href="#", data-target="nav-mobile", onclick="sidenavinstance.open()")
                        i.material-icons.button-collapse menu
                        
    ul#nav-mobile.sidenav
        li
            .user-view
                .background.black
                    
                a(href='#user')
                    img.circle(src='images/puppy.jpg')
                a(href='#name')
                    span.white-text.name John Doe
                a(href='#email')
                    span.white-text.email jdandturk@gmail.com

        li
            a(href="/") LogOut
        li
            a(href="/projects") Subject1 
        li
            a(href="/about") Subject2
        li
            a(href="/shop") Subject3
        li
            a(href="/contact") Subject4
