extends layout

block content
    .container
        form(action="#")
            h4
            | Question one Question one Question one??
            form(action='#')
                p
                    label
                    input(name='group1', type='radio', checked='')
                    span Red 
                p
                    label
                    input(name='group1', type='radio')
                    span Yellow
                p
                    label
                    input.with-gap(name='group1', type='radio')
                    span Green
                p
                    label
                    input(name='group1', type='radio', disabled='disabled')
                    span Brown
                    h4
            | Question one Question one Question one??
            form(action='#')
                p
                    label
                    input(name='group1', type='radio', checked='')
                    span Red 
                p
                    label
                    input(name='group1', type='radio')
                    span Yellow
                p
                    label
                    input.with-gap(name='group1', type='radio')
                    span Green
                p
                    label
                    input(name='group1', type='radio', disabled='disabled')
                    span Brown
                    h4
            | Question one Question one Question one??
            form(action='#')
                p
                    label
                    input(name='group1', type='radio', checked='')
                    span Red 
                p
                    label
                    input(name='group1', type='radio')
                    span Yellow
                p
                    label
                    input.with-gap(name='group1', type='radio')
                    span Green
                p
                    label
                    input(name='group1', type='radio', disabled='disabled')
                    span Brown
                    h4
            | Question one Question one Question one??
            form(action='#')
                p
                    label
                    input(name='group1', type='radio', checked='')
                    span Red 
                p
                    label
                    input(name='group1', type='radio')
                    span Yellow
                p
                    label
                    input.with-gap(name='group1', type='radio')
                    span Green
                p
                    label
                    input(name='group1', type='radio', disabled='disabled')
                    span Brown


        .center
            a.waves-effect.waves-light.btn-large(style='background:#42a5f5;border-radius:15px;margin-top:30px;margin-bottom:30px',href='congrats') Publish


        
        
        
        
